{% extends '../base.html' %}
{%  load static  %}
{% block title %}
{{empleado.full_name}}
{%  endblock %}
{% block content %}
{% include '../includes/header.html' %}

<div class="grid-container align-center">
    <div class="grid-x grid-x-margin align-center callout primary">
        <div class="card cell large-4" style="width: 350px;">
            <div class="card-divider align-center">
                {{empleado.get_job_display}}
            </div>
            {% if empleado.avatar %}
                <img  class="align center" src=" {{ empleado.avatar.url }}" style="width:400px;height:300px">
            {% else %}
                <img  class="align center" style="width:400px;height:300px" src="{% static 'img/klipartz.com.png' %}">
            {% endif %}

            <div class="card-section align-center">
                <h4 class="align center">{{empleado.full_name}}.</h4>
                <p> <span class="label">Habilidades</span></p>
                <ul class="vertical menu">
                    {% for habilidad in empleado.id_habilidad.all %}
                        <li> {{habilidad.habilidad}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}